# Netflix Originals Analysis: Exploring Cinematic Trends with Python and SQL.
Imagine you're a data analyst at Netflix. Your job is to figure out what's going on with all the Netflix movies. You've got this big list of movies up until June 1st, 2021, and it's not just any list – it's like a mystery waiting to be solved.

You gathered this info by snooping around a Wikipedia page, pulling out details on genres, directors, and all the interesting stuff. But here's the twist – you also have IMDb scores. It's like getting report cards from a ton of people who watched the movies. Over 1,000 reviews for most films – that's a lot of opinions!

Now, your mission is to be the Netflix Sherlock. Find out what kinds of movies people love the most, spot those directors who are like movie magicians, and see if there's a link between how good a movie is and when it came out. Are there trends changing over time? Any surprises lurking in the data?

Imagine yourself as the hero in this data journey, revealing the secrets of Netflix's movie world. The data is your trusty sidekick, ready to spill the beans on what makes Netflix movies tick.

## Module 1
### Task 1: Decoding Netflix's Cinematic Data.
Before we start our analysis, first, we need to view the dataset. It is essential to view the data and check the columns. Let's take a look.

In [5]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('./NetflixOriginals.csv', encoding='latin-1')
df.head()

,ï»¿Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,5-Aug-19,58.0,2.5,English/Japanese
1,Dark Forces,Thriller,21-Aug-20,81.0,2.6,Spanish
2,The App,Science fiction/Drama,26-Dec-19,79.0,2.6,Italian
3,The Open House,Horror thriller,19-Jan-18,94.0,3.2,English
4,Kaali Khuhi,Mystery,30-Oct-20,90.0,3.4,Hindi

### Task 2: Unveiling the Datatypes in Netflix Originals Dataset.
Great!! We have our dataset loaded, and now we will see what type of data it contains. To get an idea of how to process the data first, it’s important to understand the data types. Let's work on it.

In [6]:
# --- WRITE YOUR CODE FOR TASK 2 ---
dtype = ...
dtype = df.dtypes

# Display the data types
dtype

ï»¿Title       object
Genre          object
Premiere       object
Runtime       float64
IMDB Score    float64
Language       object
dtype: object

### Task 3: Lowercasing Netflix Originals.

Wow!!!! We've found out the data types of the dataset. Now, we need to convert all the names into lowercase. This will be helpful when extracting column names in the upcoming tasks. Let's get started.

In [3]:
# --- WRITE YOUR CODE FOR TASK 3 ---
# Convert all column names to lowercase
df.columns = df.columns.str.lower()

# Display the updated DataFrame to confirm the changes
df.head()

,ï»¿title,genre,premiere,runtime,imdb score,language
0,Enter the Anime,Documentary,5-Aug-19,58.0,2.5,English/Japanese
1,Dark Forces,Thriller,21-Aug-20,81.0,2.6,Spanish
2,The App,Science fiction/Drama,26-Dec-19,79.0,2.6,Italian
3,The Open House,Horror thriller,19-Jan-18,94.0,3.2,English
4,Kaali Khuhi,Mystery,30-Oct-20,90.0,3.4,Hindi

### Task 4: Unveiling Null Values in Netflix Originals Dataset.
Incredible!!! We have successfully converted the column names to lowercase. Now, we need to ensure that the dataset does not contain any null values. So, let's check for null values in our dataset.

In [4]:
# --- WRITE YOUR CODE FOR TASK 4 ---
# Identify and mark null values
null_values = df.isnull().sum()

# Display the count of null values in each column
null_values

ï»¿title      0
genre         4
premiere      0
runtime       6
imdb score    3
language      0
dtype: int64

### Task 5: Bid Farewell to NaNs in Netflix Originals Dataset.

Ohhhhh!! We've identified some null values in our data. We need to remove those to obtain cleaned data. Let's proceed by removing rows with missing entries.

In [ ]:
# --- WRITE YOUR CODE FOR TASK 5 ---
# Remove rows with missing values
df.dropna(inplace=True)

# Display the DataFrame to confirm the changes
df.head()

### Task 6: Tackling Duplicates in Netflix Originals Dataset.
Fantastic!!! We have successfully removed the null values from our dataset. Additionally, we need to ensure that the data does not contain any duplicates. Checking for duplicate rows is crucial for maintaining data accuracy. Let's go ahead and check for them

In [ ]:
# --- WRITE YOUR CODE FOR TASK 6 ---
# Calculate the number of duplicate rows
duplicates = df.duplicated().sum()

# Display the total number of duplicate rows
duplicates

### Task 7: Eliminating Duplicates for Netflix Insights.
Oh, no! We've identified some duplicated values in our dataset. Let's proceed to remove these duplicate rows.

In [ ]:
# --- WRITE YOUR CODE FOR TASK 7 ---
# Remove duplicate rows
df.drop_duplicates(inplace=True)

# Display the DataFrame to confirm the changes
df.head()

### Task 8: Converting Netflix Premiere object to Datetime


Great progress so far! We have successfully removed the duplicated values. In task 2, we found out that the 'premiere' column is in string format, but it contains the date. Let's change the 'premiere' column to datetime format. This change will enable us to work with date-related information more effectively in future analyses. Let's proceed with this enhancement.

In [ ]:
# --- WRITE YOUR CODE FOR TASK 8 ---
# Convert 'premiere' column to datetime format
df['premiere'] = pd.to_datetime(df['premiere'], errors='coerce')

# Display the DataFrame to confirm the changes
print(df.head())

### Task 9: Unveiling the Cinematic Epochs with Year Extraction.

Oh, nice! We have successfully converted the 'premiere' column. Now, it would be beneficial to add another column indicating the year the movie premiered. This additional information will be helpful for analyzing content based on its release year. Let's write the code for that.

In [ ]:
# --- WRITE YOUR CODE FOR TASK 9 ---
# Extract the year from the 'premiere' column and create a new 'year' column
df['year'] = df['premiere'].dt.year

# Display the DataFrame to confirm the changes
print(df.head())

### Task 10: Standardizing IMDb Score Column in Netflix Originals Dataset.
Amazing!!! We have successfully extracted the year. Now, it's a good idea to make sure that all column names are without spaces between words. This could pose difficulties when extracting column names in our SQL tasks. Let's check the dataset and update the column names accordingly.

In [ ]:
# Rename the column 'imdb score' to 'imdb_score'
df.rename(columns={'imdb score': 'imdb_score'}, inplace=True)

# Display the DataFrame to confirm the changes
print(df.head())

### Task 11: Archiving Refined Netflix Originals Dataset.

Marvelous!!! We have successfully cleaned the dataset. Now, we are ready to export it for further SQL analysis in the next module. Let's proceed with exporting the cleaned dataset now.

In [ ]:
# ...WRITE YOUR CODE FOR TASK 11 ...
#export the cleaned data
# Save the DataFrame 'df' to a CSV file named 'netflix.csv'
df.to_csv('netflix.csv', index=False)

## Module 2
### Task 1: Data Download, Import, and Database Connection.

Now we have successfully completed the Python tasks and are heading towards the SQL analysis. For that, we need to connect the database to our notebook. Let's get it done!

In [ ]:
# -- Load the sql extention ----
%reload_ext sql

# --- Load your mysql db using credentials from the "DB" area ---
%sql mysql+pymysql://bd995a64:Cab#22se@localhost/bd995a64

### Task 2: Counting Cinematic Uniqueness: Distinct Titles in the Netflix Collection.

Wow! We've successfully connected the database to the Jupyter notebook, allowing us to run SQL queries directly within the notebook. Now, let's check the count of different titles from the dataset. This will provide us with the number of unique content entries in the dataset. Let's work on it.

In [ ]:
%%sql

SELECT COUNT(DISTINCT title) AS No_of_content
FROM netflix;

### Task 3: Netflix Gems with IMDb Scores Above 7.
Incredible!!! We now have an idea of how many different titles' data is in the dataset. Now, let's check the details of movies and shows with better reviews. This will help us focus on and analyze the more highly-rated shows and movies. Let's write an SQL query for that

In [ ]:
%%sql
SELECT * From netflix where imdb_score>7;

### Task 4: Counting Netflix Movies by Language.

Thanks for finding the best movies and shows for me. Now, I'm interested in knowing the number of movies in each language. This task allows us to understand the distribution of movies across different languages in the dataset. Let's have a look!

In [ ]:
%%sql
SELECT languages,COUNT(title) as Movie_count from netflix GROUP BY languages ;

### Task 5: Unveiling the Average IMDb Scores in Netflix Originals.
Oh, nice! We got the details of the movie distribution in each language. Now, let's find out the details of genres and their average rating. From this, we will get an idea of which genre people are loving more. Let's work on it!

In [ ]:
#Calculating Average IMDb Scores by Genre in Netflix Dataset.
%%sql
SELECT genre,AVG(imdb_score) as AVG_Score from netflix GROUP BY genre;

### Task 6: Netflix Genres with the Highest Average IMDb Scores.
Fantastic!!! We successfully completed the last task and identified the best genre. Now, it's time to figure out the top 5 genres based on their ratings. This task will enable us to explore and highlight the highest-rated genres in the dataset. Let's rock it, buddy!

In [ ]:
%%sql
SELECT genre, AVG(imdb_score) AS Avg_Score
FROM netflix
GROUP BY genre
ORDER BY Avg_Score DESC
LIMIT 5;

### Task 7: Netflix Movies Surpassing Genre IMDb Score Averages.
Wow! We have obtained the details of the top 5 genres from the last task. Now, I'd like to know the content details that are considered the best in their respective genre groups. This will help us identify content with above-average ratings within each genre. Let's write an SQL query for that.

In [ ]:
%%sql
SELECT M1.*
FROM netflix M1
INNER JOIN (
    SELECT genre, AVG(imdb_score) AS avg_score
    FROM netflix
    GROUP BY genre
) AS M2 ON M1.genre = M2.genre
WHERE M1.imdb_score > M2.avg_score;

### Task 8: Counting Netflix Movies by Genre Before 2020.
We successfully identified the best content in their genre groups. Now, let's find the number of contents in each genre that premiered before 2020. This task allows us to analyze the distribution of movies across different genres before the year 2020. Let's work on it.

In [ ]:
%%sql
SELECT genre, COUNT(*) AS Movie_Count
FROM netflix
WHERE YEAR(premiere) < 2020
GROUP BY genre;

### Task 9: The Highest Rated Netflix Movie.

Marvelous!!! We have obtained the number of movies in each genre before 2020. Now, let's find out the best content in the entire dataset. This task will help identify the top-rated show or movie. Let's take a look.

In [ ]:
%%sql
SELECT *
FROM netflix
ORDER BY imdb_score DESC
LIMIT 2;

### Task 10: Netflix Movies with Similar Premieres.


Hurray! I've got the details of the top-rated content. Now, let's find movies with similar genres released within a week of each other. This task helps identify movies with related genres released in close timeframes. This is probably the most unique requirement. Let's work on it, buddy!

In [ ]:
#Finding Movies with Similar Premiere Dates in the Same Genre
%%sql

SELECT A.title AS Movie1, B.title AS Movie2, A.genre
FROM netflix A
JOIN netflix B ON A.genre = B.genre
WHERE ABS(DATEDIFF(A.premiere, B.premiere)) <= 7
AND A.title <> B.title;

### Task 11: Genre Dominance Through the Years: Unveiling Top-Ranked Genres.
Incredible! We found out the contents premiered within weeks. Now, I'm interested in knowing the best genre in each year. This will help us identify the top-ranked genre based on ratings for each year. Let's work on it.

In [ ]:
#Finding the Top-ranked Genre by Average IMDb Score for Each Year.
%%sql

WITH RankedGenres AS (
    SELECT
        year,
        genre,
        AVG(imdb_score) AS avg_imdb_score,
        ROW_NUMBER() OVER (PARTITION BY year ORDER BY AVG(imdb_score) DESC) AS genre_rank
    FROM
        netflix
    GROUP BY
        year, genre
)
SELECT
    year,
    genre,
    avg_imdb_score
FROM
    RankedGenres
WHERE
    genre_rank = 1;

### Task 12: Cinematic Excellence in Extended Narratives: Genre and Language Dynamics.

Amazing! We have successfully identified the best genres in each year. Now, I'd like to know the details of genre, language, and their ratings for content with longer runtimes. This will help us analyze the performance of longer content within specific genres and languages on the platform. Let's rock it, buddy!

In [ ]:
#Finding Average IMDb Score for Movies with Runtime Greater than Overall Average
%%sql

SELECT
    genre,
    languages,
    AVG(imdb_score) AS avg_imdb_score
FROM
    netflix
WHERE
    runtime > (SELECT AVG(runtime) FROM netflix)
GROUP BY
    genre, languages;